.banner{
    padding: 5.6vw;
    min-height: 90vh;
    background-image: url(../images/banner.jpg);
    background-size: cover;

    @media (max-width: 768px){
        background-size: 100vw;
        background-repeat: no-repeat;
        min-height: 25vh;
        
    }

}