.movies{
    padding: 5.6vw;
    background-color: #000;

    h2{
        font-size: 40px;
        text-align: center;
        margin-bottom: 36px;
    }
    &__list{

        &__item{

            &__container{
                display: flex;
                padding-bottom: 8px;
                margin: 32px 0 24px;
                border-bottom: 2px solid #ccc ;
                img{
                    height: 150px;
                    margin-right: 40px;
                    margin-top: 15px;
                }

                h3{
                    font-size: 26px;
                    margin-bottom: 16px;
                }
            }
        }
    }
}